@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

.menu-line {
    @apply w-6 h-1 bg-black rounded-md;
}

.close-btn-line {
    @apply absolute rounded-sm;

    --height: 0.375rem;
    --height-by-2: calc(var(--height) / 2);
    height: var(--height);
    top: calc(50% - var(--height-by-2));
}
